body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 500px;
  width: 300px;
}

/* logo on top of widget */
#logo {
  max-width: 150px;
  max-heigth: 30px;
  height: auto;
  float: left;
  width: 40%;
  margin-left: 10px;
}

/* rating stars on top of widget */
#rating {
  max-width: 38%;
  max-height: 30px;
  height: auto;
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* div containing the reviews */
#reviews {
  margin-top: 0px;
  overflow-y:scroll;
  overflow-x:hidden;
  height:200px;
  clear: both;
}

/* review header  */
.collapsible-header p {
  font-size: 12px;
  line-height: 130%;
  padding: 0px;
}

.userImage {
  width: 99%;
border-radius: 50%;
}

.ratingStars {
  width: 30%;
  max-width: 152px;
  height: auto;
  float: right;
  padding-right: 3px;
  max-height: 28px;
}

/* review body  */
.collapsible-body p {
  font-size: 12px;
  padding: 10px;
  line-height: 140%;
}
